<style type="text/css">
    .catelog-top{
        text-align: left;
        line-height: 44px;
        background: #efeff0;
        font:15px/45px a;
        color:rgba(0,0,0,0.7);
        border-bottom:1px solid #ddd ;
        position: relative;
    }
    .catelog-top__back{
        float: left;
        width: 42px;
        height: 44px;
    }
    .catelog-top__back:before{
        content: '';
        display: block;
        margin:15px 0 0 16px;
        width: 10px;
        height: 16px;
        background: url(http://dushu.xiaomi.com/x0D0GrWs.png) no-repeat;
        background-size:10px 16px;
    }
    .catelog-top__home{
        float: right;
        widows: 42px;
        height: 44px;
    }
    .catelog-top__home:before{
        content:'';
        display: block;
        margin:15px 16px 0 0;
        width:19px;
        height: 20px;
        background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat;
        background-size: 18px 19px;
    }
</style>
<div class="catelog-top">
    <a href="/" class="catelog-top__back"></a>
    <span class="catelog-top__title"><%=nav%></span>
    <a href="/" class="catelog-top__home"></a>
</div>