
<section class="channel-h5">
    <div class="channel-h5__header">
        <p class="channel-h5__title">
            本周最火
        </p>

    </div>
    <ul class="list-h5">
        <li v-for="item in hot" v-if="$index<4" v-cloak>
            <div class="book-h5">
                <a href="/book/{{ item._id }}">
                <div class="book-h5__cover">
                    <img alt="{{ item.title }}" src="" v-lazy="decodeURIComponent(item.cover.split('/agent/').pop())">
                </div>
                <div class="book-h5__info">
                    <p class="book-h5__title">{{ item.title }}</p>
                    <p class="book-h5__author">{{ item.authors }}</p>
                    <p class="book-h5__intro">{{ item.shortIntro }}</p>
                    <div class="book-h5__warp">
                        <p class="book-h5__tag">{{ item.majorCate }}</p>
                        <p class="book-h5__tag" v-if="item.minorCate">{{ item.minorCate }}</p>
                    </div>
                </div>
                </a>
            </div>
        </li>
    </ul>
</section>