
<section class="channel-h5">
    <div class="channel-h5__header">
        <p class="channel-h5__title">
            女生最爱
        </p>
    </div>
    <div>
        <div>
            <ul class="list-h5">
                <li v-for="item in female" v-if="$index<5" v-cloak>
                    <div class="book-h5">
                        <a href="/book/{{item._id}}">
                        <div class="book-h5__cover">
                            <img alt="{{ item.title }}" src="" v-lazy="decodeURIComponent(item.cover.split('/agent/').pop())">
                            <p class="book-h5__finish">完结</p>
                        </div>
                        <div class="book-h5__info">
                            <p class="book-h5__title">{{ item.title }}</p>
                            <p class="book-h5__author">{{ item.author }}</p>
                            <p class="book-h5__intro">{{ item.shortIntro }}</p>
                            <div class="book-h5__warp">
                                <p class="book-h5__tag">{{ item.majorCate }}</p>
                                <p class="book-h5__tag">{{ item.minorCate }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="channel-h5__footer_next">
            <a href="javascript:" @click="tabChangeBook()" >换一批</a>
            <a href="/female">女生频道&gt;&gt;</a>
        </div>
    </div>
</section>